/********** COLOURS **********/

/* white - #EEEEEE
   black - #3A4750
   red - #D72323 */


/********** GENERAL **********/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #3A4750;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

/********** HOME PAGE **********/

.homepage {
    width: 100%;
    height: auto;
    background-color: #3A4750;
    display: table;
    float: left;
}

.name {
    color: #EEEEEE;
    font-size: 8vw;
    margin-top: -10vh;
    margin-left: 5vw;
    text-shadow: 5px 5px #D72323;
    line-height: 140%;
    padding: 0px;
    height: auto;
}

#author {
    margin-bottom: 25px;
}



#portfolio {
    background-color: #3A4750;
    border: hidden;
    color: white;
    transition-duration: 0.4s;
    font-size: 3vh;
    padding: 2vw;
    cursor: pointer;
}

.allButtons {
    text-align: center;
    margin-top: 2vh;
}

#portfolio:hover {
    background-color: #EEEEEE;
    color: #3A4750;
}

#aboutMeButton {
    background-color: #3A4750;
    border: hidden;
    color: white;
    font-size: 3vh;
    transition-duration: 0.4s;
    padding: 2vw;
    cursor: pointer;
}

#aboutMeButton:hover {
    background-color: #EEEEEE;
    color: #3A4750;
}

#contactButton {
    background-color: #3A4750;
    border: hidden;
    color: white;
    transition-duration: 0.4s;
    font-size: 3vh;
    padding: 2vw;
    cursor: pointer;
}

#contactButton:hover {
    background-color: #EEEEEE;
    color: #3A4750;
}

.scroll {
    display: table;
    justify-content: center;
    margin-left: 48vw;
    margin-top: 7vh;
}

.profession {
    margin-left: 6vw;
    font-size: 3vh;
    color: #C3C3C3;
}

.slogan {
    float: right;
    text-align: left;
    position: relative;
    top: -48vh;
    right: 15vw;
    font-size: 5vh;
}

.w1 {
    color: #EEEEEE;
    animation-name: first;
    animation-duration: 6s;
}

    @keyframes first {
     from {opacity: 0}
     to {opacity: 1}
}

.w2 {
    color: #C3C3C3;
    animation-name: second;
    animation-duration: 10s;
}

    @keyframes second {
     from {opacity: 0}
     to {opacity: 1}    
}

.w3 {
    color: white;
        color: #C3C3C3;
    animation-name: third;
    animation-duration: 15s;
}

    @keyframes third {
     from {opacity: 0}
     to {opacity: 1}    
}


/********** ABOUT ME PAGE **********/

.about {
    width: 100%;
    height: 100vh;
    background-color: #EEEEEE;
    display: table;
    float: left;
}

.title {
    padding: 0.5vw;
    text-align: center;
    font-size: 30px;
    color: #3A4750;
}

.description {
    width: 100%;
    font-size: 3.5vh;
    display: flex;
    float: left;
}

#overview {
    width: 60%;
    margin-left: 5vw;
    text-align: justify;
    background-color: #3A4750;
    color: #EEEEEE;
    padding: 3vw;
    
}

.description img {
    float: left;
    border: solid 6px #3A4750;
    width: 30%;
    height: 30%;
    box-shadow: 5px 10px #C3C3C3;
}

@media only screen and (max-width: 800px){
    .description {
        width: 40%;
        margin: 6px 0;
    }
} 

@media only screen and (max-width: 600px){
    .description {
        width: 100%;
    }
} 

/********** WORK EXPERIENCE **********/

.work {
    background: #d72323;
    padding-top: 10px;
    height: 80vh;
    width: 100%;
    display: table;
    float: left;
}

#experience {
    padding: 2vw;
    color: #EEEEEE;
    text-align: center;
    font-size: 40px;
}

/********** EDUCATION **********/

.education {
    height: 100vh;
    width: 100%;
    display: table;
    float: left;
}

#schools {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 2vw 1vw;
}

.responsive {
    width: 70%;
    height: auto;
    margin-left: 15vw;
    margin-top: -5vh;
}


/********** PORTFOLIO **********/

.portfolio {
    background: #eeeeee;
    height: 100vh;  
    width: 100%;
    display: table;
    float: left;
}

#myWork {
    font-size: 40px;
    text-align: center;
    color: #3A4750;
    padding: 2vw;
    
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.gallery::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 800px){
    .column {
        width: 50%;
        margin: 6px 0;
    }
} 

@media only screen and (max-width: 600px){
    .column {
        width: 100%;
    }
} 

.gallery img{
    width: 100%;
    height: auto;
    transition: 1s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.hint {
    display: flex;
    justify-content: center;
    color: lightslategrey;
    margin-bottom: 15px;
}

.gallery {
    margin-right: 2%;
}

.des {
    padding: 15px;
    text-align: center;
}

/********** CONTACT **********/

.details {
    background: #d72323;
    padding: 10px;
    height: 30vh;
    display: table;
    width: 100%;
    float: left;
}

#contactDetails {
    color: #EEEEEE;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

.myDetails {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
    color: #C3C3C3;
}

@media only screen and (max-width: 800px){
    .myDetails {
        font-size: 15px;
    }
} 

@media only screen and (max-width: 600px){
    .myDetails {
        font-size: 10px;
    }
} 

#linkedIn {
    width: 50px;
    height: 50px;
}

/********** PROJECTS **********/

#backButton {
    background-color: #3A4750;
    border: hidden;
    color: white;
    transition-duration: 0.4s;
    font-size: 3vh;
    padding: 2vw;
    cursor: pointer;
    margin-left: 3vw;
    margin-top: 3vh;
}

#backButton:hover {
    background-color: #EEEEEE;
    color: #3A4750;
}


.firstProject {
    height: 80vh;
    color: #EEEEEE;
    display: table;
    width: 100%;
}

.titleOne {
    text-align: center;
    padding: 2vh;
    font-size: 5vh;
}

#descriptionOne {
    text-align: justify;
    width: 40vw;
    padding: 5vh;
}

                    .secondProject {
                        height: 80vh;
                        background-color: #EEEEEE;
                        width: 100%;
                        height: auto;
                        display: table;
                        float: left;
                    }

                    .titleTwo {
                        text-align: center;
                        padding: 5vh;
                        font-size: 5vh;
                    }

                    #descriptionTwo {
                        text-align:justify;
                        width: 40vw;
                        padding: 2vh;
                    }


.thirdProject {
    height: 80vh;
    background-color: #D72323;
    width: 100%;
    height: auto;
    display: table;
    float: left;
}

.titleThree {
    text-align: center;
    padding: 2vh;
    font-size: 5vh;
}

                    .fourthProject {
                        height: 80vh;
                        width: 100%;
                        height: auto;
                        display: table;
                        float: left;
                    }

                    .titleFour {
                        text-align: center;
                        padding: 2vh;
                        font-size: 5vh;
                    }